- How to create dictionary
- How to acces pairs in dictionary
- How to run a loop in dictionary 
- How to make a nested dictionary
- Indexing and slicing

In [1]:
student =  {
    "name" : "suhani",
    "age" : 22,
    "course" : "Python with data science",
    "marks" : 55
}
print(student)

{'name': 'suhani', 'age': 22, 'course': 'Python with data science', 'marks': 55}

In [2]:
#user inut
student =  {
    "name" : input("enter a name :"),
    "age" : 22,
    "course" : "Python with data science",
    "marks" : 55
}
print(student)

{'name': 'SUHANI', 'age': 22, 'course': 'Python with data science', 'marks': 55}

In [3]:
info = dict (name = "Suhani Mishra", age = 20, course = "mba", marks = 80)
print(info)

{'name': 'Suhani Mishra', 'age': 20, 'course': 'mba', 'marks': 80}

In [4]:
#user inut
info = dict (name = input ("enter a name"), age = 20, course = "mba", marks = 80)
print(info)

{'name': 'SUHANI', 'age': 20, 'course': 'mba', 'marks': 80}

In [5]:
temp = {
    'lucknow': [30,35,48],
    'delhi': [40,45,50],
    'chennai': [28,55,60]
    }
print(temp)

{'lucknow': [30, 35, 48], 'delhi': [40, 45, 50], 'chennai': [28, 55, 60]}

In [6]:
#1st method to access value
print(student["name"])

SUHANI

In [7]:
#2 method to access value      
print(student.get("name"))

SUHANI

In [8]:
#adding new key value pairs in dictionary
student["city"]= "lucknow"
print(student)

{'name': 'SUHANI', 'age': 22, 'course': 'Python with data science', 'marks': 55, 'city': 'lucknow'}

In [9]:
#for loop to print keys
for i in student:
    print(i)

name
age
course
marks
city

In [10]:
#for loop to pint values
for i,j in student.items():
    print(f'{i}: {j}')

name: SUHANI
age: 22
course: Python with data science
marks: 55
city: lucknow

In [11]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks', 'city'])
dict_values(['SUHANI', 22, 'Python with data science', 55, 'lucknow'])
dict_items([('name', 'SUHANI'), ('age', 22), ('course', 'Python with data science'), ('marks', 55), ('city', 'lucknow')])

### Nested dictionary

In [12]:
company = {
    'emp001': {
        'name': 'Suhani Mishra',
        'dept' : 'Fiance',
        'salary' : 50000
    },
    'emp002': {
        'name': 'Bob',
        'dept' : 'Marketing',
        'salary' : 45000
    },
    'emp003': {
        'name': 'Smith',
        'dept' : 'IT',
        'salary' : 70000
    },
    'emp004': {
        'name':  'John',
        'dept': 'HR',
        'salary':  60000
    },
}
print(company)

{'emp001': {'name': 'Suhani Mishra', 'dept': 'Fiance', 'salary': 50000}, 'emp002': {'name': 'Bob', 'dept': 'Marketing', 'salary': 45000}, 'emp003': {'name': 'Smith', 'dept': 'IT', 'salary': 70000}, 'emp004': {'name': 'John', 'dept': 'HR', 'salary': 60000}}

In [13]:
from pprint import pprint

In [14]:
pprint(company)

{'emp001': {'dept': 'Fiance', 'name': 'Suhani Mishra', 'salary': 50000},
 'emp002': {'dept': 'Marketing', 'name': 'Bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'Smith', 'salary': 70000},
 'emp004': {'dept': 'HR', 'name': 'John', 'salary': 60000}}

In [15]:
company['emp002']['dept']

'Marketing'

In [16]:
print(sum(temp['lucknow'])/len(temp['lucknow']))

37.666666666666664