In [12]:
fruits = ['apple', 'banana','cherry','date','elderberry']
for i in fruits:
    print (i)

apple
banana
cherry
date
elderberry

In [13]:
#horizontally print the list for collection of items
fruits = ['apple', 'banana','cherry','date','elderberry']
for i in fruits:
    print (i, end="*")

apple*banana*cherry*date*elderberry*

In [14]:
for i in range (6):
    print(i)

0
1
2
3
4
5

In [ ]:
for i in range (2,10):
    print(i)

2
3
4
5
6
7
8
9

In [16]:
for i in range (2,10,2):
    print(i)

2
4
6
8

In [17]:
i = 0
while i <= 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

# Practise questions of class

In [23]:
for i in range (10):
    print ("suhani mishra")

suhani mishra
suhani mishra
suhani mishra
suhani mishra
suhani mishra
suhani mishra
suhani mishra
suhani mishra
suhani mishra
suhani mishra

In [ ]:
for i in range (2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

#### Break and Continue

In [20]:
fruits = ['apple', 'banana','cherry','date', 'elderberry', 'onion', 'banana','kiwi','apple']
for i in fruits:
    if i == 'onion':
        break
    print(i)

apple
banana
cherry
date
elderberry

In [21]:
fruits = ['apple', 'banana','cherry','date', 'elderberry', 'onion', 'banana','kiwi','apple']
for i in fruits:
    if i == 'onion':
        continue
    print(i)

apple
banana
cherry
date
elderberry
banana
kiwi
apple

In [22]:
fruits = ['apple', 'banana','cherry','date', 'elderberry', 'onion', 'banana','kiwi','apple']
for i in fruits:
    if i == 'onion' or i == 'banana':
        continue
    print(i)

apple
cherry
date
elderberry
kiwi
apple